*{
  box-sizing: border-box;
  
}

body {
  
  font-size: 16px;
  font-family: Verdana, Helvetica, Tahoma, sans-serif;
  
}

.container{
  position: center;
}

.h1{
  position: center;
  top: 50%;
  left: 50%;
  margin-right: -50%;
}

.col-sm-12{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height: 240px;
  width: 1200px;    
  border: 5px solid black;    
  border-radius: 10px;
}

.flex-container > div{
  background-color: #ffffff;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
  
  
  

h3{
  font-weight: bold;
}
.forecast{
  padding: 15%;
  font-size: 0.9em;
}
span{
  font-size: 1em;
}
li:hover{
  background-color: lightslategray;
  text-decoration: underline;
}

